#wrapper {
    min-height: 135vw;
    background: url(/assets/img/pc/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Menu */
.menu {
    position: relative;
    top: 2vw;
    left: 23vw;
    width: 11vw;
    min-height: 20vw;
    background: url(/assets/img/pc/menu/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu .title {
    position: absolute;
    font-size: 1rem;
    top: 5.8vw;
    left: 2.2vw;
    color: #fff;
    text-align: center;
}

.menu .menu__list {
    position: absolute;
    top: 7.8vw;
    left: 1.4vw;
}

.menu .menu__item {
    width: 76%;
    display: block;
    margin-top: .5vw;
}

.menu .menu__item:hover {
    filter: brightness(1.2);
}

/* Charts */
.charts {
    position: relative;
    bottom: 42vw;
    left: 59vw;
    width: 20vw;
    min-height: 22vw;
    background: url(/assets/img/pc/charts/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.charts .charts__list {
    left: 4.8vw;
    top: 5.6vw;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    list-style: none;
}

.charts .charts__item {
    line-height: 1.1vw;
}

.charts .charts__item:nth-child(1) {
    color: green;
}

.charts .charts__item:nth-child(2) {
    color: red;
}

.charts .charts__item:nth-child(3) {
    margin-bottom: 1.2vw;
    color: violet;
}

/* More Turn */
.more-turns {
    margin: 16vw 0 0 0;
}

.more-turns__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Points */
.points {
    display: none;
}

/* Get gift */
.get-gifts {
    text-align: center;
}

.get-gifts .title {
    line-height: 2.4vw;
    font-size: 1.2rem;
    font-weight: 700;
    /* background-color: #fff;
    margin: 0 40vw; */
    background: url(/assets/img/pc/get-title-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.get-gifts__list {
    display: block;
}

.get-gifts__item {
    display: inline-block;
    width: 8vw;
    margin: 0 3.6vw 0;
}

.get-gifts__item:nth-child(1),
.get-gifts__item:nth-child(2),
.get-gifts__item:nth-child(3),
.get-gifts__item:nth-child(4),
.get-gifts__item:nth-child(5),
.get-gifts__item:nth-child(6) {
    margin: 19.4vw 3.6vw 0;
}

.get-gifts__item:nth-child(7),
.get-gifts__item:nth-child(8),
.get-gifts__item:nth-child(9),
.get-gifts__item:nth-child(10),
.get-gifts__item:nth-child(11),
.get-gifts__item:nth-child(12) {
    margin: 21.4vw 3.6vw 0;
}

.get-gifts__item a {
    align-items: center;
}

.get-gifts__item img {
    width: 90%;
}

.more-turns__item img:hover,
.get-gifts__item img:hover {
    scale: 1.1;
    filter: brightness(1.2);
    transition: .2s linear;
}